body {
        margin: 0px;
        padding: 48px 64px;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 1em;
        line-height: 1.4;
}

#lookUP {
	float: right;
	border: 1px solid #bbb;
	background-color: #ddd;
	padding:0.5em;
	margin: 0 0 0.5em 0.5em;
	text-align: center;
}
#lookUPresults img {
	width:90%;
	border:1px solid #bbb;
}